
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: courier, sans-serif;
}

nav{
  background-image: url(stars.jpg);
  height: 60px;
  width: 100%;
}

nav ul{  /* navigation bar set up (set right)*/
  float: center;
  margin-right: 20px;
}
nav ul li{ /* navigation bar set up (set horizontal)*/
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{ /* navigation bar text*/
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bolder;
}

div.titleDiv{ /* navigation bar text*/
  text-align:center;
  height: 250px;
  width: 100%;
  background-image: url(stars.jpg);
  padding-top:0px;
  padding-bottom:20px;
}
.titleDiv h2{
  color:white;
  font-size: 70px;
}
.titleDiv p{
  display: inline-block;
  vertical-align:top;
}
.intro{
  font-family: consolas;
  width: 18ch;
  color: white;
}
#moving{
  animation: type 4s steps(13);
  overflow: hidden;
  white-space: nowrap;
  animation-iteration-count: infinite;
  border-right: 2px solid white;
  color: white;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width:13ch;
  }
}
div.homeInfo{
  display: flex;
  height: 300px;
  width: 80%;
  margin: 0 auto;
}
img {
  padding: 10px;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.project{
  width: 33.33%;
  padding: 20px;
  background-color: #F8F8F8;
  margin: 10px;
}
.homeInfo h2 a{
  text-decoration:none;
  padding-top:50px;
  color:black;
  font-size: 37px;
  font-weight:bold;
}
.homeInfo h3 a{
  text-decoration:none;
  color:black;
  font-size: 20px;
  font-weight:normal;
}
.homeInfo h3 {
  font-weight:bold;
  font-size: 20px;
  padding-top:20px;
  padding-bottom:20px;
}

#info2{
  width: 100%;
  background-color: black;
  height: 150px;
  align-items: center;
}

.fa {
  padding: 20px;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  margin: 20px 8px;
}

.fa-linkedin {
  background: white;
  color: black;
  text-align: center;
  margin-left: 45%;
  width: 5%;
}

.fa-github {
  background: white;
  color: black;
  text-align: center;
  margin-right: 45%;
  width: 5%;
}
#info3{
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('ATL.jpg');
}

/* aboutPage */
.container {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.pic {
  width: 30%;
  height: 200px;
  float: left;
}

.dis {
  padding: 50px;
  margin-left: 25%;
  height: 200px;
  margin-right: 10%;
}

.dis p{
  line-height: 2;
  font-size: 17px;
}
