*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: courier, sans-serif;
}

nav{
  background-image: url(stars.jpg);
  height: 60px;
  width: 100%;
}

nav ul{  /* navigation bar set up (set right)*/
  float: right;
  margin-right: 20px;
}
nav ul li{ /* navigation bar set up (set horizontal)*/
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{ /* navigation bar text*/
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bolder;
}

div.titleDiv{
  text-align:center;
  height: 400px;
  width: 100%;
  background-image: url(stars.jpg);
  padding-top:0px;
  padding-bottom:20px;
}
.titleDiv h2{
  color:white;
  font-size: 80px;
}
.titleDiv h3{
  animation: type 4s steps(18);
  overflow: hidden;
  white-space: nowrap;
  animation-iteration-count: 3;
  font-family: consolas;
  border-right: 2px solid white;
  width: 18ch;
  color: white;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width:18ch;
  }
}
div.homeInfo{
  height: 200px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
}
.homeInfo h2 a{
  text-decoration:none;
  padding-top:50px;
  color:black;
  font-size: 37px;
  font-weight:bold;
}
.homeInfo h3 a{
  text-decoration:none;
  color:black;
  font-size: 20px;
  font-weight:normal;
}
.homeInfo h3 {
  font-weight:bold;
  font-size: 20px;
  padding-top:20px;
  padding-bottom:20px;
}
#info3{
   height: 300px;
}
